@font-face {
  font-family: "Kanit";
  src: url(Kanit-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  src: url(Kanit-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}
