@font-face {
  font-family: "Kanit";
  src: url(Kanit-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  src: url(Kanit-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
