#welcome-banner {
	min-height: 400px;
	height: 100%;
	background-image: url('../images/backgrounds/dusit2.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #FFF;

	.container {
		padding: 8.4% 15px 70px;
	}

	.welcome-banner-title {
		font-family: "THSarabunNew";
		font-size: 2.5em;
		line-height: 1.8;
		margin: 0;
	}

	.welcome-banner-content {
		float: left;
		padding-right: 10px;

		.welcome-banner-text {
			font-family: "THSarabunNew";
			font-size: 1.2em;
			margin: 0px 0px 60px;
		}

		.welcome-banner-btn .btn {
			margin-right: 10px;

			@media (max-width: $screen-xs-max) {
				width: 100%;
				margin-bottom: 10px;
			}
		}

		@media (min-width: $screen-md-min) {
			width: 60%;
		}
	}

	.welcome-banner-register {
		color: #000;
		float: right;
		background-color: #F3F3F3;
		border-radius: 5px;
		padding: 10px 25px 25px;
		display: none;

		.input-group {
			.input-group-addon {
				background-color: #fff;
			}
			.form-control {
				border-left: medium none;
				padding-left: 0px;
			}
		}

		@media (min-width: $screen-md-min) {
			display: block;
			width: 40%;
		}
	}
}